<% include header %>
<% include navbar %>

<div class="jumbotron text-center bg-info">
    <h1 class="display-4 text-light"><%= title %></h1>
    <p></p>
</div>

<% include footer %>
<% include scripts %>